{% extends "header.html" %}
{% block content %}
{% include "Sidebar.html" %}

<div class="ml-64 w-[calc(100%-16rem)]">
    <div >
    {% for message in messages %}
        <p id="messages" class="font-semibold text-lg">{{ message }}</p>
    {% endfor %}
</div>
{% if user.is_superuser %}
<div class="hidden sm:ml-6 sm:block">
    
</div>
{% endif %}
<section class="bg-green-100 py-16">
    <div class="container mx-auto px-6 lg:px-8">
        <div class="max-w-4xl mx-auto bg-gray-100 p-8 rounded-lg shadow-lg">
            <div class="text-center">
                {% if sibling.profile_picture %}
                <img src="{{ sibling.profile_picture.url}}" alt="{{ sibling.name }}" class="w-48 h-48 rounded-full mx-auto">
                {% endif %}
                <h2 class="text-3xl font-bold text-gray-800 mt-4">{{ sibling.name }}</h2>
                <p class="text-gray-600 mt-2">Born on: {{ sibling.birthdate }}</p>
                <p class="text-gray-600 mt-2">Age: {{ sibling.age }}</p>

                {% if sibling.occupation %}
                <p class="text-gray-600 mt-1"><strong>Occupation:</strong> {{ sibling.occupation }}</p>
                {% endif %}
            </div>
            <div class="mt-6">
                <h3 class="text-xl font-semibold text-gray-800">About {{ sibling.name }}</h3>
                <p class="text-gray-600 mt-2">{{ sibling.full_description }}</p>
            </div>
            <div class="mt-6 flex justify-center space-x-4">
                <a href="{% url 'siblings_list' %}" 
                   class="text-white bg-blue-600 px-6 py-3 rounded-lg font-medium hover:bg-blue-500 transition duration-300 shadow-md">
                   🔙 Back to Family
                </a>
               
                <a href="{% url 'update_member' sibling.id %}" 
                class="text-white bg-yellow-600 px-6 py-3 rounded-lg font-medium hover:bg-yellow-500 transition duration-300 shadow-md">
                ✏️ Update Member
             </a>
          
            </div>
        </div>
    </div>
</section>
</div>
{% include "footer.html" %}
{% endblock %}
