{% extends "header.html" %}
{% block content %}
{% include "sidebar.html" %}
{% load widget_tweaks %}
<div class="ml-64 w-[calc(100%-16rem)] p-8 bg-gray-100 min-h-screen">
<h2>{% if form.instance.pk %}Edit Support Ticket{% else %}New Support Ticket{% endif %}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <!-- Name -->
        <div class="sm:col-span-2">
          
            <label class="block text-sm font-medium text-gray-700">title</label>
            {% render_field form.title class="w-full mt-1 p-3 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Enter full title" %}
        </div>
        <div class="sm:col-span-2">
            <label class="block text-sm font-medium text-gray-700">description</label>
            {% render_field form.description class="w-full mt-1 p-3 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Enter full title" %}
        </div>
        <div class="sm:col-span-2">
            <label class="block text-sm font-medium text-gray-700">category</label>
            {% render_field form.category class="w-full mt-1 p-3 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Enter full title" %}
        </div>
        <div class="sm:col-span-2">
            <label class="block text-sm font-medium text-gray-700">priority</label>
            {% render_field form.priority class="w-full mt-1 p-3 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Enter full title" %}
        </div>
        <div class="sm:col-span-2">
            <label class="block text-sm font-medium text-gray-700">status</label>
            {% render_field form.status class="w-full mt-1 p-3 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Enter full title" %}
        </div>
      
        <div class="sm:col-span-2">
            <label class="block text-sm font-medium text-gray-700">status</label>
            {% render_field form.status class="w-full mt-1 p-3 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Enter full title" %}
        </div>
        <div class="sm:col-span-2">
            <label class="block text-sm font-medium text-gray-700">attachment</label>
            {% render_field form.attachment class="w-full mt-1 p-3 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Enter full title" %}
        </div>
        {% if support.attachment %}
        <div class="mt-4">
          <h3 class="text-lg font-semibold text-gray-700">Current attachment:</h3>
          <img src="{{ support.attachment.url }}" alt="{{ support.title }}" class="w-48 h-48 rounded-full mx-auto mt-4">
        </div>
      {% endif %}
        
      {% if support.image %}
      <div class="mt-4">
        <h3 class="text-lg font-semibold text-gray-700">Current Image:</h3>
        <img src="{{ support.attachment.url }}" alt="{{ support.title }}" class="w-48 h-48 rounded-full mx-auto mt-4">
      </div>
    {% endif %}
    <div class="mt-6 flex justify-center space-x-4">
        <button type="submit" 
                class="bg-yellow-600 text-white px-6 py-3 rounded-lg font-medium hover:bg-yellow-500 transition duration-300 shadow-md">
            ✅ Save Changes
        </button>
        <a href="{% url 'support' %}" 
           class="text-white bg-gray-600 px-6 py-3 rounded-lg font-medium hover:bg-gray-500 transition duration-300 shadow-md">
           ❌ Cancel
        </a>
    </div>
</form>
</div>
</div>
{% include 'footer.html' %}
{% endblock %}
